/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* use tailwindCSS */
@tailwind base;
@tailwind utilities;
@tailwind components;


/* Basic styling */
* {margin: 0; padding: 0; box-sizing: border-box;}
#wrapper { @apply relative text-black-3/4 font-body; }

/* Sidebar styling */
.menu-link {
  @apply px-4 py-2;

  -webkit-transition: 269ms linear;
  -moz-transition: 269ms linear;
  transition: 269ms linear;

  background: linear-gradient(to right, transparent 50%, #D36363 50%);
  background-size: 200% 100%;
}